node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress.env.json
.env
.env.*.local
logs/
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
.vscode/
.idea/
coverage/
nyc_output/
dist/
build/
